.contact h2 {
    font-size: 2rem;
}

.contact p {
    font-size: 1.2rem;
    line-height: 36px;
}

.contact__img {
    width: 60px;
    margin-right: 16px;
}

.contact__link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.contact__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-top: 16px;
    
}