@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  --primary-color: #1e91d6;
  --primary-dark: rgb(19, 22, 95);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section, footer {
  width: 100%;
  padding: 60px 300px;
}

.underline {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  margin: 40px 0;
}

@media screen and (max-width: 1120px) {
  section, footer {
    padding: 60px 150px;
  }
}


@media screen and (max-width: 960px) {
  section, footer {
    padding: 60px;
  }
}
