.hero {
    background: linear-gradient(315deg, rgb(19, 22, 95) 30%, hsla(221, 79%, 5%, 1) 100%);
    padding: 20px;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.hero__content {
    margin: 0 auto;
    color: #FFF;
}

.hero__content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
}

.hero__content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}
