.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  margin: 5rem 0;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff;
}

.project:hover {
  background-color: var(--primary-dark);
}

.project:hover p {
  background-color: var(--primary-dark);
  transition: all 0.3s ease-in-out;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.project img {
  position: absolute;
  z-index: 0;
  transform: rotate(-30deg);
  left: 50%;
  top: 0;
  opacity: 0.8;
  object-fit: contain;
}

.project h3 {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  top: 30px;
  left: 10%;
  right: 10%;
  width: 100%;
}

.project p {
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  margin: 0;
  top: 70px;
  left: 10%;
  right: 10%;
  background-color: var(--primary-color);
  padding: 5px;
  margin-right: 15px;
  border-radius: 4px;
}
